![Header](static/github-header-image.png)
<!-- <h1 align="center">Hi 👋, I'm <%= meta.firstName %></h1>
<h2 align="center"><%= meta.role %></h2> -->
<h4><%= meta.about %></h4>

### 📈 My GitHub Stats
<div style="display: flex;" align="center">
     <img align="center" width="48%"
          style="margin: 20px; padding: 0 4px;"
          src="https://github-readme-streak-stats.herokuapp.com/?user=Rohit04121998&count_private=true&show_icons=true&theme=tokyonight&hide_border=true" 
          alt="kayvanshah" />
     <img align="center" width="48%"
          style="margin: 20px; padding: 0 4px;"
          src="https://github-readme-stats-sigma-five.vercel.app/api?username=Rohit04121998&show_icons=true&locale=en&count_private=true&show_icons=true&theme=tokyonight&hide_border=true"
          alt="kayvanshah" />
</div>

<br/>
<div style="display: flex;" align="center">
     <img align="center" width="48%"
          style="margin: 20px; padding: 0 4px;"
          src="https://github-readme-stats-sigma-five.vercel.app/api/top-langs/?username=Rohit04121998&show_icons=true&theme=tokyonight&hide_border=true&layout=compact" 
          alt="languages" />
</div>

<!-- TECHNOLOGIES -->
<h3>:zap: Technologies</h3>

<p>
    <% for(const [name, logo] of Object.entries(technologies)) { %><img alt="<%= name %>" src="<%= logo %>" /> <% } %>
</p>

<!-- SOCIAL -->
<h3>:milky_way: Find me</h3>

<p align="center">
    <% for(const { name, url, logo } of social) { %><a href="<%= url %>" target="_blank">
        <img alt="<%= name %>" src="<%= logo %>" />
    </a><% } %>
</p>

<hr />

<!-- GitHub profile viewers and visitors -->
<p align="center">
    <img alt="Visitors" src="https://visitor-badge.laobi.icu/badge?page_id=Rohit04121998&color=blue"/>
    <img alt="Profile Views" src="https://komarev.com/ghpvc/?username=Rohit04121998"/>
</p>

<!-- FOOTER -->
<!--START_SECTION:waka-->
```text
No activity tracked
```
<!--END_SECTION:waka-->
<p align="center">
    This <i>README</i> file is generated <b>every 24 hours</b>!</br>
    Last refresh: <%= lastRunOn %><br />
</p>
<!-- <p align="center">
    <img src="https://github.com/Rohit04121998/Rohit04121998/workflows/README%20build/badge.svg" /> 
    <img alt="Stars" src="https://img.shields.io/github/stars/Rohit04121998/Rohit04121998?style=flat-square&labelColor=343b41"/> 
    <img alt="Forks" src="https://img.shields.io/github/forks/Rohit04121998/Rohit04121998?style=flat-square&labelColor=343b41"/>
</p> -->

